<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container my-5">

<header th:replace="fragments :: header"></header>

<h1>All Events</h1>

<table class="table table-striped table-bordered mt-4">
    <thead class="table-light">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Contact Email</th>
        <th>Images</th>
        <th>Edit Event</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:replace="fragments :: description(${event.description})"></td>
        <td th:replace="fragments :: address"></td>
        <td th:text="${event.contactEmail}"></td>
        <td><img th:src="@{/images/{eventName}.jpg(eventName=${event.name})}"
                 alt="Event image" class="img-fluid" width="300" height="300"></td>
        <td><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
